<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HerokuApp Feature Suite" verbose="1" parallel="tests" thread-count="2">

  <!-- Priority 1: Auth Scenarios -->
  <test name="Priority1 - Auth Tests">
    <classes>
      <class name="env.AuthTestsRunner"/>
    </classes>
  </test>

  <!-- Priority 2: Links Scenario -->
  <test name="Priority2 - Links Tests">
    <classes>
      <class name="env.LinksTestsRunner"/>
    </classes>
  </test>

</suite>
